In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
import matplotlib
import seaborn as sns
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

path = '/Users/hsy/Library/Fonts/NanumGothic.ttf'
font_name = fm.FontProperties(fname=path, size=10).get_name()
plt.rc('font', family=font_name)
matplotlib.rcParams['axes.unicode_minus'] = False # 마이너스 부호 깨짐 방지

# 1

In [2]:
filename = '../data/매출.csv'
df = pd.read_csv(filename, encoding='cp949')
df.head()

   name  일사분기  이사분기
0    사과    70    70
1     배    30    40
2     감    50    60
3   오렌지    60    35
4  파인애플    80    50

In [3]:
df.describe()

            일사분기       이사분기
count   5.000000   5.000000
mean   58.000000  51.000000
std    19.235384  14.317821
min    30.000000  35.000000
25%    50.000000  40.000000
50%    60.000000  50.000000
75%    70.000000  60.000000
max    80.000000  70.000000